<app-spinner *ngIf="!loaded"></app-spinner>

<div *ngIf="loaded && !error">

  <app-people-search (searchStringChanged)="updateSearchString($event)"></app-people-search>

  <div class="card-body">
    <div class="row" *ngFor="let row of rows | peopleSearch: searchString">
      <div class="col-md-4 mb-5" *ngFor="let person of row">
        <app-person-snippet [person]="person"></app-person-snippet>
      </div>
    </div>
  </div>

  <app-paginator [currentPage]="currentPage" [apiData]="apiData"></app-paginator>
</div>

<app-error-message *ngIf="error && loaded"></app-error-message>


