<header class="jumbotron my-4">
  <h1 class="display-3">Gallery Application</h1>
  <p class="lead">Application created for browsing Star Wars people.</p>
  <a href="#" class="btn btn-primary btn-lg">Show all</a>
</header>

<div class="card text-white bg-secondary my-5 py-4 text-center">
  <div class="card-body">
    <p class="text-white m-0">Something here</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4 mb-5">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="card-title">Random Item 1</h2>
        <p class="card-text">Some text of random item 1</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary btn-sm">More Info</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-5">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="card-title">Random Item 2</h2>
        <p class="card-text">Some text of random item 2</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary btn-sm">More Info</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-5">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="card-title">Random Item 3</h2>
        <p class="card-text">Some text of random item 3</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary btn-sm">More Info</a>
      </div>
    </div>
  </div>

</div>
